@import "tailwindcss";

/* The "Organic Modern" Reset 
   We swap the default white for a warm 'paper' tone 
   and use serif fonts for impact.
*/

html {
  scroll-behavior: smooth;
  background-color: #f5f5f4; /* Tailwind stone-100 */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #1c1917; /* Tailwind stone-900 */
}

.hide-scrollbar {
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
}
/* For Chrome, Safari, and Opera (WebKit browsers) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom Scrollbar for that 'premium' feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e7e5e4; 
}
::-webkit-scrollbar-thumb {
  background: #57534e; 
  border-radius: 4px;
}

::selection {
  background: #10b981; /* Emerald-500 */
  color: white;
}